# Node modules
node_modules/

# Log files
*.log

# Environment variables
.env
.env.local
.env.*.local

# IDE and editor files
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Operating system files
.DS_Store
Thumbs.db

# Coverage directory used by tools like istanbul
coverage/

# Yarn integrity file
.yarn-integrity
